{% extends 'moneyapp/base.html' %}
{% load i18n %}
{% block content %}
    <div class="container mt-4">
        <h2 class="text-center mb-4">{% trans "Login" %}</h2>
        <form method="post" class="p-4 bg-light rounded shadow-sm">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
                <p style="color: red;">{% trans "Invalid username or password." %}</p>
            {% endif %}
            <button type="submit" class="btn btn-primary w-100">{% trans "Log In" %}</button>
        </form>
        <p class="text-center mt-3">{% trans "Don't have an account?" %} <a href="{% url 'register' %}">{% trans "Sign up here" %}</a>.</p>
    </div>
    <style>
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}